# 03장 HOL

### Q1

In [3]:
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

### Q2

In [5]:
result = 0
i = 1
while i <= 1000:
    if i%3==0:
        result += i
    i+=1
    
print(result)

166833

### Q3

In [6]:
i = 0
while True:
    i += 1
    if i>5: break
    print('*'*i)

*
**
***
****
*****

### Q4

In [7]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

### Q5

In [9]:
A = [70,60,55,75,95,90,80,80,85,100]
total = 0

for score in A:
    total += score
    
average =  total/len(A)
print(average)

79.0

### Q6

In [12]:
n = [1,2,3,4,5]

result =[]
for i in n:
    if i%2 ==1:
        result.append(i*2)

print(result)

[2, 6, 10]

### LAB 3-1

if 문을 사용하여 게임점수에 따른 출력 다르게 작성

In [5]:
n = int(input('game_score = '))
if n >= 1000:
    print('당신은 고수입니다.')

game_score = 800

In [6]:
n = int(input('game_score = '))
if n >= 1000:
    print('당신은 고수입니다.')

game_score = 1300
당신은 고수입니다.

num_a 와 num_b에 할당된 값이 같으면 두 값이 일치한다고 출력하는 프로그램 작성.

In [8]:
a = int(input('num_a = '))
b = int(input('num_b = '))

if a == b:
    print('두 값이 일치합니다.')

num_a = 100
num_b = 200

In [9]:
a = int(input('num_a = '))
b = int(input('num_b = '))

if a == b:
    print('두 값이 일치합니다.')

num_a = 300
num_b = 300
두 값이 일치합니다.

### LAB 3-2

1과 100 사이의 임의의 정수 n을 입력받아 출력한 후, n이 짝수이면 짝수라고 출력하는 프로그램을 작성하라.

In [11]:
n = int(input('정수를 입력하세요 : '))
print('n =',n)
if n%2 == 0:
    print(n,'은(는) 짝수입니다.')

정수를 입력하세요 : 50
n = 50
50 은(는) 짝수입니다.

In [12]:
n = int(input('정수를 입력하세요 : '))
print('n =',n)
if n%2 == 0:
    print(n,'은(는) 짝수입니다.')

정수를 입력하세요 : 75
n = 75

자연수이면 자연수라고 출력하는 프로그램 작성

In [14]:
x = int(input('정수를 입력하세요 : '))
print('x =',x)
if x>0:
    print(x,'은(는) 자연수입니다.')

정수를 입력하세요 : 50
x = 50
50 은(는) 자연수입니다.

In [15]:
x = int(input('정수를 입력하세요 : '))
print('x =',x)
if x>0:
    print(x,'은(는) 자연수입니다.')

정수를 입력하세요 : -10
x = -10

### LAB 3-3

if else문을 이용하여 게임점수에 따른 출력 다르게 하기.

In [18]:
n = int(input('게임 점수를 입력하시오 : '))
print('game_score =',n)
if n<1000:
    print('입문자입니다.')
else:
    print('고수입니다.')

게임 점수를 입력하시오 : 800
game_score = 800
입문자입니다.

In [19]:
n = int(input('게임 점수를 입력하시오 : '))
print('game_score =',n)
if n<1000:
    print('입문자입니다.')
else:
    print('고수입니다.')

게임 점수를 입력하시오 : 1300
game_score = 1300
고수입니다.

두 정수를 입력받아 같을 경우 두 값이 일치하는지 아닌지 출력

In [20]:
x = int(input('한 정수를 입력하시오 : '))
y = int(input('다른 정수를 입력하시오 : '))

if x == y:
    print('두 값이 일치합니다.')
else:
    print('두 값이 일치하지 않습니다.')

한 정수를 입력하시오 : 100
다른 정수를 입력하시오 : 200
두 값이 일치하지 않습니다.

In [21]:
x = int(input('한 정수를 입력하시오 : '))
y = int(input('다른 정수를 입력하시오 : '))

if x == y:
    print('두 값이 일치합니다.')
else:
    print('두 값이 일치하지 않습니다.')

한 정수를 입력하시오 : 300
다른 정수를 입력하시오 : 300
두 값이 일치합니다.

복합 조건식을 이용하여 성인인지 아닌지, 결혼을 했는지 아닌지 구별하기

In [1]:
a = int(input('당신은 성인인가요?(성인이면 1, 미성년이면 0) : '))


if a == 1:
    b = int(input('결혼을 하셨나요?(기혼이면 1, 미혼이면 0) : '))
    if b == 1:
        print('당신은 결혼한 성인입니다.')
    if b == 0:
        print('당신은 결혼하지 않은 성인입니다.')
else:
    print('당신은 미성년자입니다.')

당신은 성인인가요?(성인이면 1, 미성년이면 0) : 0
당신은 미성년자입니다.

In [2]:
a = int(input('당신은 성인인가요?(성인이면 1, 미성년이면 0) : '))


if a == 1:
    b = int(input('결혼을 하셨나요?(기혼이면 1, 미혼이면 0) : '))
    if b == 1:
        print('당신은 결혼한 성인입니다.')
    if b == 0:
        print('당신은 결혼하지 않은 성인입니다.')
else:
    print('당신은 미성년자입니다.')

당신은 성인인가요?(성인이면 1, 미성년이면 0) : 1
결혼을 하셨나요?(기혼이면 1, 미혼이면 0) : 1
당신은 결혼한 성인입니다.

In [3]:
a = int(input('당신은 성인인가요?(성인이면 1, 미성년이면 0) : '))


if a == 1:
    b = int(input('결혼을 하셨나요?(기혼이면 1, 미혼이면 0) : '))
    if b == 1:
        print('당신은 결혼한 성인입니다.')
    if b == 0:
        print('당신은 결혼하지 않은 성인입니다.')
else:
    print('당신은 미성년자입니다.')

당신은 성인인가요?(성인이면 1, 미성년이면 0) : 1
결혼을 하셨나요?(기혼이면 1, 미혼이면 0) : 0
당신은 결혼하지 않은 성인입니다.

### LAB 3-4

and 연산자로 1과 10 사이의 값이라면 True를 출력하는 부울식을 만들기

In [5]:
num = int(input('num = '))
print(num >=1 and num<=10)

num = 2
True

age가 10과 19 사이면 청소년입니다 를 출력하는 식 작성.

In [6]:
age = int(input('age = '))
if age>10 and age<19:
    print('청소년입니다.')

age = 9

In [7]:
age = int(input('age = '))
if age>10 and age<19:
    print('청소년입니다.')

age = 12
청소년입니다.

### LAB 3-5

if, elif, else 사용하기

In [10]:
speed = int(input('자동차의 속도를 입력하세요(단위 : km/h) : '))
if speed >= 100:
    print('고속')
elif speed <= 60:
    print('저속')
else:
    print('중속')

자동차의 속도를 입력하세요(단위 : km/h) : 13
저속

In [11]:
speed = int(input('자동차의 속도를 입력하세요(단위 : km/h) : '))
if speed >= 100:
    print('고속')
elif speed <= 60:
    print('저속')
else:
    print('중속')

자동차의 속도를 입력하세요(단위 : km/h) : 130
고속

### LAB 3-6

In [13]:
for i in range (5):
    print('Hello, Python!')

Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!
Hello, Python!

In [14]:
for i in range (5):
    print(i)

0
1
2
3
4

### LAB 3-7

In [19]:
num_list = []
for i in range (0,100):
    i = i +1 
    num_list.append(i)

print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [20]:
num_list = []
for i in range (0,50):
    i = i +1 
    num_list.append(i*2)

print(num_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [21]:
num_list = []
for i in range (0,50):
    i = i +1 
    num_list.append(i*2-1)

print(num_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [27]:
num_list = []
for i in range (-98,1):
    i = i -1 
    num_list.append(i)
    num_list.sort(reverse=True)
print(num_list)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11, -12, -13, -14, -15, -16, -17, -18, -19, -20, -21, -22, -23, -24, -25, -26, -27, -28, -29, -30, -31, -32, -33, -34, -35, -36, -37, -38, -39, -40, -41, -42, -43, -44, -45, -46, -47, -48, -49, -50, -51, -52, -53, -54, -55, -56, -57, -58, -59, -60, -61, -62, -63, -64, -65, -66, -67, -68, -69, -70, -71, -72, -73, -74, -75, -76, -77, -78, -79, -80, -81, -82, -83, -84, -85, -86, -87, -88, -89, -90, -91, -92, -93, -94, -95, -96, -97, -98, -99]

### LAB 3-8

1. 누적 덧셈을 응용하여 1에서 100까지 정수의 합 구하기.
2. 짝수의 합을 구하기
3. 홀수의 합을 구하기

In [28]:
s1=0
s2=0
s3=0
for i in range (1,101):
    s1 = s1 + i
    
print('1부터 100까지 자연수의 합',s1)

for i in range(2,101,2):
    s2 = s2 + i

print('1부터 100까지 짝수의 합',s2)

for i in range(1,100,2):
    s3 = s3 + i

print('1부터 100까지 홀수의 합',s3)

1부터 100까지 자연수의 합 5050
1부터 100까지 짝수의 합 2550
1부터 100까지 홀수의 합 2500

### LAB 3-9
이중 for 루프를 이용하여 다음과 같은 패턴을 출력하여라

In [30]:
for i in range(7):
    print(' '*(7-i)+'#')

       #
      #
     #
    #
   #
  #
 #