# 04주차 - 리스트 연습문제

### 1.	다음과 같은 list1, list2가 있을 경우 이중 for 루프를 사용하여 list1과 list2의 각 원소를 곱한 후 원소의 곱셈을 결과와 함께 출력하시오.   
list1=[3,5,7]   
list2=[2,3,4,5,6]

In [4]:
list1 = [3,5,7]
list2 = [2,3,4,5,6]
for i in list1:
    for j in list2:
        print('{}*{}={}'.format(i,j,i*j))

3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42

### 2.	a = [2, 3, 4, 5, 6]이 있을 경우, 이 리스트의 순서를 바꾸는 기능을 for -in 문과 pop() 메소드를 사용하여 구현하시오  (reverse() 메소드를 사용하지 않고 리스트의 원소를 하나하나 순회하면서 pop() 메소드를 호출하시오).

In [7]:
a = [2,3,4,5,6]
rev_a=[]
list=len(a)
for i in range(0, list):
    rev_a.append(a.pop())
print('rev_a =',rev_a)

rev_a = [6, 5, 4, 3, 2]

### 3.	n_list라는 리스트에 [10, 20, 30, 50, 60]과 같은 5개의 원소가 있다.  내장 함수 sum(n_list)를 사용하지 않고 n_list의 5개 원소의 합을 구하는 프로그램을 작성하여라.

In [16]:
n_list=[10,20,30,50,60]
s=0
for i in n_list:
    s = s + i
print('리스트 원소들 :',n_list)
print('리스트 원소들의 합 :',s)

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들의 합 : 170

### 4.	임의의 정수 값을 가진 리스트 n_list에서 가장 큰 값을 구하는 프로그램을 max() 함수를 사용하지 말고 구현하여라.

In [23]:
n_list=[10,20,30,50,60]
print('리스트 원소들 :',n_list)
n_list.sort(reverse=True)
print('리스트 원소들 중 최댓값 :',n_list[0])

리스트 원소들 : [10, 20, 30, 50, 60]
리스트 원소들 중 최댓값 : 60

### 5.	사용자로부터 5개의 수를 입력받은 후 다음과 같이 입력된 값들의 합, 평균, 최댓값, 최솟값을 출력하는 프로그램을 작성하시오.      
### 이때 반드시 입력된 값들은 리스트에 넣어서 sum(), min(), max() 함수를 사용하도록 하시오

### - del 함수를 써서 앞에서 쓴 함수를 없애야 하는데, 적용이 어려워 따로 업로드하였습니다.

# 04주차 - 딕셔너리, 튜플, 집합 연습문제

1.	다음과 같은 파이썬 딕셔너리 구조의 프로그램을 실행할 때 알맞은 내용은 무엇인가?

In [3]:
price = {'김밥':5000,'어묵':3000,'떡볶이':2000}
price['김밥']

5000

In [5]:
price['김밥']=6000
price

{'김밥': 6000, '어묵': 3000, '떡볶이': 2000}

In [6]:
price.values()

dict_values([6000, 3000, 2000])

In [7]:
price.keys()

dict_keys(['김밥', '어묵', '떡볶이'])

In [11]:
print('이 식당의 메뉴 개수는',len(price),'개 입니다.')

이 식당의 메뉴 개수는 3 개 입니다.

2. 1번의 딕셔녀리에 순대 : 4500 메뉴를 추가하는 코드를 넣고, 출력결과와 그 이후 코딩을 실시하시오.

In [12]:
price['순대']=4500
price

{'김밥': 6000, '어묵': 3000, '떡볶이': 2000, '순대': 4500}

In [13]:
print('순대의 가격은', price['순대'],'원 입니다.')

순대의 가격은 4500 원 입니다.

In [14]:
print('이 식당의 메뉴 개수는',len(price),'개 입니다.')

이 식당의 메뉴 개수는 4 개 입니다.

3. 다음 코드의 실행 결과를 적으시오.

In [15]:
t = (10,20,30,40,50,60)
t[0]

10

In [16]:
t[0:2]

(10, 20)

In [17]:
t[1:]

(20, 30, 40, 50, 60)

In [18]:
t[:3]

(10, 20, 30)

In [19]:
t[1::2]

(20, 40, 60)

In [20]:
t[::-1]

(60, 50, 40, 30, 20, 10)

4. 다음 코드의 실행 결과는 무엇인가?

In [21]:
t1='a','b','c'
t2=('a','b','c')
t3=('d','e')

In [22]:
t1==t2

True

In [23]:
t2+t3

('a', 'b', 'c', 'd', 'e')

In [24]:
my_list=[]
for x in t1:
    my_list.append(x)

In [25]:
my_list

['a', 'b', 'c']

In [26]:
[x for x in t1]

['a', 'b', 'c']

In [27]:
my_list=[]
for x in t1:
    for y in t3:
        my_list.append(x+y)

In [28]:
my_list

['ad', 'ae', 'bd', 'be', 'cd', 'ce']

In [29]:
[x+y for x in t1 for y in t3]

['ad', 'ae', 'bd', 'be', 'cd', 'ce']