# 04주차 HOL

### LAB 5-1
1. 1부터 10까지 중 짝수 리스트로 만들기
2. range()로 풀어보기
3. 네 원소의 리스트 출력
4. 친구 5명의 이름 출력
5. x,y,z 문자열로 리스트 생성

In [2]:
even_list = [2,4,6,8,10]
print('even_list = ',even_list)

even_list =  [2, 4, 6, 8, 10]

In [5]:
even = []
for i in range(2,11,2):
    even.append(i)
    
print('even = ',even)

even =  [2, 4, 6, 8, 10]

In [6]:
nation = ['korea','china','india','nepal']
print('nation = ',nation)

nation =  ['korea', 'china', 'india', 'nepal']

In [7]:
friends = ['길동','철수','은지','지은','영민']
print('friends = ',friends)

friends =  ['길동', '철수', '은지', '지은', '영민']

In [10]:
list1=list('XYZ')
print('string = ',list1)

string =  ['X', 'Y', 'Z']

### LAB 5-2