# 04주차 HOL

### LAB 5-1
1. 1부터 10까지 중 짝수 리스트로 만들기
2. range()로 풀어보기
3. 네 원소의 리스트 출력
4. 친구 5명의 이름 출력
5. x,y,z 문자열로 리스트 생성

In [2]:
even_list = [2,4,6,8,10]
print('even_list = ',even_list)

even_list =  [2, 4, 6, 8, 10]

In [5]:
even = []
for i in range(2,11,2):
    even.append(i)
    
print('even = ',even)

even =  [2, 4, 6, 8, 10]

In [6]:
nation = ['korea','china','india','nepal']
print('nation = ',nation)

nation =  ['korea', 'china', 'india', 'nepal']

In [7]:
friends = ['길동','철수','은지','지은','영민']
print('friends = ',friends)

friends =  ['길동', '철수', '은지', '지은', '영민']

In [10]:
list1=list('XYZ')
print('string = ',list1)

string =  ['X', 'Y', 'Z']

### LAB 5-2

1. 2부터 10까지의 수 중 소수의 원소를 가지는 리스트, 가장 첫 원소를 인덱싱
2. 가장 마지막 원소를 양수 인덱싱
3. 가장 마지막 원소를 음수 인덱싱
4. 한국, 중국, 러시아, 말레이시아를 원소로 가지는 리스트 생성 후 첫 원소 출력
5. 마지막 원소 음수 인덱싱
6. 마지막 원소를 len(list)-1 인덱스를 사용하여 출력

In [4]:
prime_list = [2,3,5,7]
print(prime_list[0])
print(prime_list[3])
print(prime_list[-1])

2
7
7

In [8]:
nation = ['한국','중국','러시아','말레이시아']
print(nation[0])
print(nation[-1])
a = len(nation)
print(nation[a-1])

한국
말레이시아
말레이시아

### LAB 5-3

1. append()로 추가하기
2. remove()로 삭제하기
3. append()로 추가하기
4. in 연산자와 if else 로 확인하기

In [12]:
prime = [2,3,5,7]
print('소수 목록 : ',prime)
prime.append(11)
print('추가 후 소수 목록 : ',prime)

소수 목록 :  [2, 3, 5, 7]
추가 후 소수 목록 :  [2, 3, 5, 7, 11]

In [13]:
prime1 = [2,3,5,7,11]
print('소수 목록 : ',prime1)
prime1.remove(11)
print('삭제 후 소수 목록 : ',prime1)

소수 목록 :  [2, 3, 5, 7, 11]
삭제 후 소수 목록 :  [2, 3, 5, 7]

In [14]:
nation = ['한국','중국','러시아','말레이시아']
print('국가 목록 : ',nation)
nation.append('네팔')
print('추가 후 국가 목록 : ',nation)

국가 목록 :  ['한국', '중국', '러시아', '말레이시아']
추가 후 국가 목록 :  ['한국', '중국', '러시아', '말레이시아', '네팔']

In [27]:
nation = ['한국','중국','러시아','말레이시아','네팔']
s = str(input('국가를 입력하세요 : '))
tof = s in nation
if tof == True:
    print(s,'는(은) 국가 목록에 있습니다.')
else:
    print(s,'는(은) 국가 목록에 없습니다.')

국가를 입력하세요 : 일본
일본 는(은) 국가 목록에 없습니다.

In [28]:
nation = ['한국','중국','러시아','말레이시아','네팔']
s = str(input('국가를 입력하세요 : '))
tof = s in nation
if tof == True:
    print(s,'는(은) 국가 목록에 있습니다.')
else:
    print(s,'는(은) 국가 목록에 없습니다.')

국가를 입력하세요 : 러시아
러시아 는(은) 국가 목록에 있습니다.

### LAB 5-4

1. 1부터 10까지의 소수 리스트를 만들고, 최소,최대,합,평균을 구하라.
2. 한국, 중국, 러시아, 말레이시아의 리스트를 만들고, 사전 순서로 가장 먼저 나오는 나라와 가장 뒤에 나오는 나라를 출력하시오

In [29]:
prime = [2,3,5,7]
print('최소 : ',min(prime))
print('최대 : ',max(prime))
print('합 : ',sum(prime))
print('평균 : ',sum(prime)/len(prime))

최소 :  2
최대 :  7
합 :  17
평균 :  4.25

In [32]:
nation = ['Korea','China','Russia','Malaysia']
nation.sort()
print('사전에 가장 먼저 나오는 나라 : ',nation[0])
print('사전에 가장 나중에 나오는 나라 : ',nation[-1])

사전에 가장 먼저 나오는 나라 :  China
사전에 가장 나중에 나오는 나라 :  Russia

### LAB 5-5

1. a 리스트가 [1,2,3] 이고, b 리스트가 [10,20,30]일 때, append와 extend의 차이점
2. 1부터 10까지의 정수값을 원소로 가지는 리스트를 생성하고 출력
3. insert를 이용하여 제일 앞에 0 삽입
4. 역순으로 배열하여 출력
5. 마지막 원소를 pop으로 반환하여 출력하고 삭제한 후의 리스트 출력

In [3]:
a = [1,2,3]
b = [10,20,30]
a.append(b)
print(a)

[1, 2, 3, [10, 20, 30]]

In [4]:
a = [1,2,3]
b = [10,20,30]
a.extend(b)
print(a)

[1, 2, 3, 10, 20, 30]

In [10]:
nlist = list(range(1,11))
print(nlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
nlist = list(range(1,11))
nlist.insert(0,0)
print(nlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
nlist = list(range(1,11))
nlist.insert(0,0)
nlist.sort(reverse=True)
print(nlist)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [14]:
nlist = list(range(1,11))
nlist.insert(0,0)
nlist.sort(reverse=True)
a = nlist.pop(-1)
print('마지막 원소 : ',a)
print(nlist)

마지막 원소 :  0
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### LAB 5-6
1. 정수 n을 입력받아 [1,2,3]이라는 원소 리스트를 반복출력하라

In [15]:
n = int(input('정수를 입력하세요 : '))
nlist = [1,2,3]
nlist * n

정수를 입력하세요 : 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [16]:
n = int(input('정수를 입력하세요 : '))
nlist = [1,2,3]
nlist * n

정수를 입력하세요 : 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### LAB 5-7
1. range()를 사용하여 리스트 생성
2. 문제와 같은 리스트 생성

In [18]:
n = list(range(15))
print(n)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [21]:
n = list(range(15))
n[0:5]

[0, 1, 2, 3, 4]

In [23]:
n = list(range(15))
n[5:11]

[5, 6, 7, 8, 9, 10]

In [25]:
n = list(range(15))
n[11:]

[11, 12, 13, 14]

In [26]:
n = list(range(15))
n[2:11:2]

[2, 4, 6, 8, 10]

In [36]:
n = list(range(15))
n[-5:-10:-1]

[10, 9, 8, 7, 6]

In [37]:
n = list(range(15))
n[-5:-14:-2]

[10, 8, 6, 4, 2]