### LAB 7-1

In [20]:
import datetime as dt
today = dt.date.today()
time = dt.datetime.now()
print('오늘의 날짜 : {}년 {}월 {}일'.format(today.year,today.month,today.day))
if time.hour > 12:
    print('현재시간 : 오후 {}시 {}분 {}초'.format(time.hour-12,time.minute,time.second))
else:
    print('현재시간 : 오전 {}시 {}분 {}초'.format(time.hour,time.minute,time.second))

오늘의 날짜 : 2022년 10월 13일
현재시간 : 오후 2시 43분 41초

### LAB 7-2

1. 2025년 크리스마스까지의 남은 날짜와 시간을 구해서 출력하기

In [28]:
import datetime as dt
today = dt.date.today()
time = dt.datetime.now()
xMas = dt.datetime(2025,12,25)
time_gap = xMas - time
print('오늘은 {}년 {}월 {}일입니다.'.format(today.year,today.month,today.day))
print('2025년 크리스마스 까지는 {}일 {}시간 남았습니다.'.format(time_gap.days,time_gap.seconds//3600))

오늘은 2022년 10월 13일입니다.
2025년 크리스마스 까지는 1168일 9시간 남았습니다.

2. 2036년 1월 1일까지의 남으 날짜와 시간을 구해서 출력해 보자.

In [29]:
import datetime as dt
today = dt.date.today()
time = dt.datetime.now()
NewY = dt.datetime(2036,1,1)
time_gap = NewY - time
print('오늘은 {}년 {}월 {}일입니다.'.format(today.year,today.month,today.day))
print('2036년 새해 까지는 {}일 {}시간 남았습니다.'.format(time_gap.days,time_gap.seconds//3600))

오늘은 2022년 10월 13일입니다.
2036년 새해 까지는 4827일 9시간 남았습니다.

3. 다가오는 내 생일까지의 날짜와 시간 계산

In [43]:
import datetime as dt
today = dt.date.today()
time = dt.datetime.now()
BT = dt.datetime(2023,4,29)
time_gap = BT - time
print('오늘은 {}년 {}월 {}일입니다.'.format(today.year,today.month,today.day))
print('2023년 권율의 생일까지는 {}일 {}시간 남았습니다.'.format(time_gap.days,time_gap.seconds//3600))

오늘은 2022년 10월 13일입니다.
2023년 권율의 생일까지는 197일 8시간 남았습니다.

### LAB 7-3

1. timedelta 클래스를 이용하여 1000일 후의 날짜를 구하기

In [42]:
import datetime as dt
today = dt.date.today()
Dday1000 = dt.timedelta(days=1000)
Dday = dt.datetime.now()+Dday1000
print('오늘 날짜 :{}년 {}월 {}일'.format(today.year,today.month,today.day))
print('1000일 후의 날짜 : {}년 {}월 {}일'.format(Dday.year,Dday.month,Dday.day))

오늘 날짜 :2022년 10월 13일
1000일 후의 날짜 : 2025년 7월 9일

2. 처음 사귄 연도와 월, 일을 띄어쓰기로 입력하면 100일 기념일을 출력하는 기능을 만들기

In [58]:
a,b,c =  map(int,input('처음으로 사귄 연도와 월, 일을 입력하시오 :').split())
import datetime as dt
Firstday = dt.datetime(a,b,c)
plusday = dt.timedelta(days=100)
dday = Firstday+plusday
print('100일 기념일은 : {}년 {}월 {}일입니다.'.format(dday.year,dday.month,dday.day))

처음으로 사귄 연도와 월, 일을 입력하시오 :2022 10 13
100일 기념일은 : 2023년 1월 21일입니다.

### LAB 7-4

1. 4의 2승부터 10승까지의 값을 출력

In [65]:
import math as m
for i in range (2,11):
    print('{:<0}**{:^3} = {:>10}'.format(4,i,m.pow (4,i)))

4** 2  =       16.0
4** 3  =       64.0
4** 4  =      256.0
4** 5  =     1024.0
4** 6  =     4096.0
4** 7  =    16384.0
4** 8  =    65536.0
4** 9  =   262144.0
4**10  =  1048576.0

2. 일반각도 0도에서 180도를 10도 단위로 출력하라. 이때 이 일반각도에 대응되는 라디안 각도 값을 함께 출력하라.

In [75]:
import math as m
for i in range (0, 190, 10):
    print('{:>3} degree = {:.3f} radian'.format(i,m.radians(i)))

  0 degree = 0.000 radian
 10 degree = 0.175 radian
 20 degree = 0.349 radian
 30 degree = 0.524 radian
 40 degree = 0.698 radian
 50 degree = 0.873 radian
 60 degree = 1.047 radian
 70 degree = 1.222 radian
 80 degree = 1.396 radian
 90 degree = 1.571 radian
100 degree = 1.745 radian
110 degree = 1.920 radian
120 degree = 2.094 radian
130 degree = 2.269 radian
140 degree = 2.443 radian
150 degree = 2.618 radian
160 degree = 2.793 radian
170 degree = 2.967 radian
180 degree = 3.142 radian

### LAB 7-5

1.0에서 100이하의 정수 중 5의 배수 값을 임의로 3개 선택하여 리스트 형식으로 출력

In [93]:
import random as rd

2. sample()함수를 이용하여 임의의 정수 3개 출력

In [92]:
import random as rd
a = list(range(1,11))
rd.sample(a,3)

[6, 7, 4]

### LAB 7-6

1. 로또 번호 다섯개 생성

In [101]:
import random as rd

lotto = list(range(1, 46))
rd.shuffle(lotto)
lotto = lotto[:6]
lotto.sort()
print('이번 주의 추천 로또 번호')
print(lotto)

이번 주의 추천 로또 번호
[5, 10, 27, 35, 36, 40]

[1, 2, 3, 4, 5, 6, 7, 8, 9]